<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="./bower_components/foundation/css/normalize.css"/>
    <link rel="stylesheet" href="./bower_components/foundation/css/foundation.css"/>
    <link rel="stylesheet" href="./bower_components/foundation-icons/foundation_icons_general/stylesheets/general_foundicons.css"/>
    <script src="./bower_components/angular/angular.js"></script>
    <script src="./bower_components/angular-local-storage/angular-local-storage.js"></script>
    <style type="text/css">
        .container {
            padding: 30px 0;
        }

        .test-cases {
            margin-left: 0;
        }

        .test-cases .fail {
            background: red;
            color: #FFFFFF;
        }

        .test-cases .success {
            background: green;
            color: #FFFFFF;
        }

        li > span {
            vertical-align: middle;
        }
    </style>
</head>
<body ng-app="RegexpTester">
<div ng-controller="MainController" class="container row">
    <form ng-submit="testAll()" class="row">
        <div class="small-12 columns">
            <textarea rows="5" type="text" name="regexp" ng-change="testAll()" ng-model="regexp" id="textarea_regexp" placeholder="Regular Expression"></textarea>
        </div>
    </form>
    <form ng-submit="addTestCase()" class="row collapse">
        <div class="small-10 columns">
            <input type="text" ng-model="testCaseText" name="inputCase" id="input_case" placeholder="new test case"/>
        </div>
        <div class="small-2 columns">
            <input type="submit" value="Add" class="button postfix"/>
        </div>
    </form>
    <ul class="test-cases no-bullet">
        <li ng-repeat="testCase in testCases" class="case row collapse">
            <div class="small-10 columns">
                <input type="text" ng-model="testCase.text"/>
            </div>
            <div class="small-2 columns">
                <span class="postfix {{testCase.status}}">{{testCase.status}}</span>
            </div>
        </li>
    </ul>
</div>
<script type="text/javascript" src="./bower_components/underscore/underscore.js"></script>
<script type="text/javascript" src="./js/main.js"></script>
</body>
</html>